body {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.full {
    width: 50%;
    background-color: white;
    display: grid;
    grid-template-columns: 2fr 4fr;
}
.left {
    position: initial;
    background-color: rgb(184, 184, 148);
    padding: 20px;
 
}
.right {
    position: initial;
    background-color: rgb(153, 204, 255);
    padding: 20px;
 